.portfolio__low
  .portfolio__low__inner
    -# %h2 profile
    .portfolio__low__inner--image
      = image_tag "title3.png", style: "width: 250px;"
    %ul.profile
      %li.profile__left
        %h5 ■ 基本データ、自己紹介
        .profile__left__text
          =image_tag "profile_image_1.jpg", class: "profile__left--image"
          %b ・NAME : Yuji Masujima
          %b ・INTRODUCTION :
          %p 駆け出しエンジニアです。
          %p 何度も挫折と挑戦を繰り返し、なんとか形になるものを作成できるまでになりました。
          %p 夢は誰にも認められる人間（エンジニア）になること。
          %p 海外で働いていた経験を元に、チャンスがあれば海外に事業展開していきたいなんて思っています。
      %li.profile__right
        %h5 ■ 経歴
        .profile__right__career
          %b ・2009年〜2013年
          %p 高校卒業後、家を出て音楽活動を行う。
          = icon 'fas', 'arrow-down'
        .profile__right__career
          %b ・2013年〜2017年
          %p 就職（国交省システムの運用、監視）
          %p 監視がメイン。2年ほど、チームのサブリーダを務める。
          = icon 'fas', 'arrow-down'
        .profile__right__career
          %b ・2017年〜2019年
          %p ドバイの会社に就職（新規事業の手伝い）
          %p 海外での会社の経営に興味があったので、勉強がてらドバイで就職。
          %p 自社のホームページ開発にも携わった。
          .profile__right__career__link
            %p 詳しくは
            .profile__right__career__link--show
              = link_to "https://maikospa.com/" do
                = icon 'fas', 'external-link-alt'
                %b こちら
            %p.text-last から確認することができます。
          %p (海外のサーバ経由なので、動作が重いうえ、今は稼働してないみたいです...)
          = icon 'fas', 'arrow-down'
        .profile__right__career
          %b ・2019年〜現在至
          %p 4月から某ITスクールに通う。個人開発、チーム開発でアプリを作成。
          %p ruby,rails,jqueryをメインに開発。