.portfolio__study
  .portfolio__study__title
    = image_tag "title5.png", style: "width: 250px;"
  .portfolio__study__text
    %p 自身の勉強のため、qiitaにアウトプットしてます。
    %p 自分でも何をしていたか、すぐに見返せるように投稿した記事をまとめました。参考にして頂けると幸いです。
    
  .portfolio__study__scroll-menu
    %p ※以下はqiitaのリンクになります。
    .portfolio__study__scroll-menu__link
      - StudyOutput.all.each_with_index do |s_o, i|
        = link_to s_o.url do
          %table
            %tr
              - if i == 0
                %td.move-icon.first-contents new
                %td.move-icon.icon= icon "far", "arrow-alt-circle-right"
              - else
                %td.move-icon.icon= icon "far", "arrow-alt-circle-right"
              %td= s_o.text
          - if user_signed_in? && s_o.user_id == current_user.id
            .portfolio__study__scroll-menu__link--action
              %button 編集
              %button 削除

    - if user_signed_in?
      .portfolio__study__scroll-menu--new
        = link_to new_study_output_path do
          %button 新規リンク作成
  

