.portfolio
  .portfolio__top
    .portfolio__top__inner
      - if user_signed_in?
        .portfolio__top__inner__login
          %ul
            %li
              = link_to "ログアウト", destroy_user_session_path, method: :delete
            %li
              = link_to "新規投稿", new_portfolio_path
      - else
        .portfolio__top__inner__login
          %ul
            %li
              = link_to "管理者ログイン", "/users/sign_in"
      .portfolio__top__inner--text
        %h1 my portfolio
        %p これは自分のポートフォリオを掲載するために作ったサイトです。
        %p 開発を始めてから、１年も立たない新人ですが、暖かい目で見ていただけると幸いです。
  .portfolio__main
    %h2 portfolios
    %ul.clearfix
      // リスト
      - @portfolios.each.with_index do |pf|
        %li.card
          .card__inner
            %p.index
              = pf.id
            .card__inner__title
              %h3
                = pf.title
              %p
                = pf.sub_title
            = image_tag "#{pf.top_image}", class: "card__inner__image"
            %h4 ■ 開発環境、使用した技術など
            .card__inner__environment
              %p
                = simple_format(pf.environment)
          - if user_signed_in?
            .card__action-btn
              = link_to "Edit", ""
              = link_to "Delete", portfolio_path(pf.id), method: :delete

  = render partial: "index_footer"

.modal_list
  
